.toro{ 
    text-align: right;
    color: yellow; font-size: 1.5rem;
} 
.donde{
        text-align: left; color: yellow; font-size: 2rem;
    }
 .item{ 
        color: yellow; font-size: 1.5rem; padding: 1rem;
    }      